# Eclipse
.metadata/
.classpath
.project
.settings/

# STS
.apt_generated/
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Maven
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Environment files
.env

# Build folders
dist/
build/